.nav {
  position: fixed;
  border: none;
  top: 7rem;
  right: 7rem;
  border-radius: 50%;
  background-color: $color-white;
  display: inline-block;
  padding: 1.4rem;
  box-shadow: 0 1.2rem 2.4rem rgba($color-black, 0.15);
  z-index: 9;

  &__icon {
    height: 3.2rem;
    width: 3.2rem;
  }
}
